.Die {
  text-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
  font-size: 3.5rem;
}

.Die-locked {
  text-shadow: none;
  opacity: 0.5;
}

.Die-rolling {
  animation: spin 1s ease-out;
}

.Die:not(.Die-no-pointer):hover {
  cursor: pointer;
}

@keyframes spin {
  to {
    transform: rotate(1turn);
  }
}
