.Game {
  width: 350px;
  background-color: #537895;
  padding: 1rem 1.5rem;
  border-radius: 1rem;
  color: whitesmoke;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
}

.Game-title {
  letter-spacing: 0.2rem;
  background: rgba(0, 0, 0, 0.5);
  margin: -1rem -1.5rem 1rem;
  padding: 0.25rem 0 0.25rem 1.5rem;
  border-radius: 1rem 1rem 0 0;
  font-size: 1.5rem;
}

.Game-reroll-button-container {
  text-align: center;
}

.Game-reroll-button {
  width: 150px;
  padding: 0.25rem 0;
  border-radius: 0.35rem;
  font-family: inherit;
  font-weight: bold;
  font-size: 1.1rem;
  letter-spacing: 0.1rem;
  color: whitesmoke;
  border: none;
  box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.1);
  transition: 0.5s;
  background-size: 200% auto;
  background-image: linear-gradient(
    to right,
    #8a9dff 0%,
    #22a6f7 51%,
    #8a9dff 100%
  );
}

.Game-reroll-button:hover {
  cursor: pointer;
  background-position: right center;
}

.Game-reroll-button:disabled {
  cursor: auto;
  opacity: 0.5;
}

.Game-total-score {
  background: rgba(0, 0, 0, 0.5);
  margin: 1rem -1.5rem -1rem;
  padding: 0.25rem 1.5rem 0.25rem 0;
  border-radius: 0 0 1rem 1rem;
  font-size: 1.5rem;
  font-weight: bold;
  text-align: right;
  letter-spacing: 0.05rem;
}
